{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Premium Access</title>
    <link rel="stylesheet" href="{% static "premium.css" %}">
  </head>
  <body>
    <h1>Premium Access</h1>
    <p>Upgrade to premium to get access to more features</p>
    <div class="premium-features">
      <ul>
        <li>Free Shipping</li>
        <li>Exclusive Rewards</li>
        <li>Early Access to Sales</li>
        <li>Priority Customer Support</li>
        <li>No-cost EMI Offers</li>
      </ul>
    </div>
    <div class="button-group">
      <button>Upgrade to Premium</button>
    </div>
  </body>
</html>