{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'product_details.css' %}"> <!-- Example stylesheet link -->
</head>
<body>

    {% include 'navbar.html' %}

    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image_url.url }}" alt="{{ product.name }}" style="width: 400px; height: 400px; object-fit: contain;">
        <div class="product-info">
            <p>Price: ${{ product.price }}</p>
            <p>Description: {{ product.description }}</p>
            <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
            <a href="{% url 'buy_now' product.id %}">Buy Now</a>
        </div>
    </div>
</body>
</html>
